:root {
--bg-dark: oklch(0.92 0 30);
--bg: oklch(0.96 0 30);
--bg-light: oklch(1 0 30);
--text: oklch(0.15 0 30);
--text-muted: oklch(0.4 0 30);
--highlight: oklch(1 0 30);
--border: oklch(0.6 0 30);
--border-muted: oklch(0.7 0 30);
--primary: oklch(0.4 0.1 30);
--secondary: oklch(0.4 0.1 210);
--danger: oklch(0.5 0.05 30);
--warning: oklch(0.5 0.05 100);
--success: oklch(0.5 0.05 160);
--info: oklch(0.5 0.05 260);
}

:root.dark {
--bg-dark: oklch(0.1 0 30);
--bg: oklch(0.15 0 30);
--bg-light: oklch(0.2 0 30);
--text: oklch(0.96 0 30);
--text-muted: oklch(0.76 0 30);
--highlight: oklch(0.5 0 30);
--border: oklch(0.4 0 30);
--border-muted: oklch(0.3 0 30);
--primary: oklch(0.76 0.1 30);
--secondary: oklch(0.76 0.1 210);
--danger: oklch(0.7 0.05 30);
--warning: oklch(0.7 0.05 100);
--success: oklch(0.7 0.05 160);
--info: oklch(0.7 0.05 260);
}

body {
    background-color: var(--bg-dark);
    color: var(--text);
}

input {
    background-color: var(--bg-light);
    color: var(--text);
}

.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--bg-light);
}

.btn-primary:hover {
    background-color: transparent;
    border-color: var(--primary);
    color: var(--primary);
}

.btn-primary:active {
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--bg-light);
}

.btn-primary.dark, .btn-primary.dark:hover, .btn-primary.dark:active {
    color: var(--text);
}

.vocabulary-list, .grammar-list {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    list-style: none;
}

.vocabulary-list li, .grammar-list li {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    text-align: center;
    background-color: var(--bg-light);

}

.vocabulary-list li {
    border: 1px solid var(--secondary);
    color: var(--secondary);
}

.grammar-list li {
    border: 1px solid var(--primary);
    color: var(--primary);
}

.quiz-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;
    padding: 1rem;
}

.quiz-form label {
    color: var(--text);
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.quiz-form p {
    color: var(--text-muted);
    font-size: 1.1rem;
}

.quiz-form input {
    background-color: var(--bg-light);
    color: var(--text);
    border: 1px solid var(--border);
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
}

.quiz-form input[type="radio"] {
    margin-right: 0.5rem;
}